* {
  all: unset; }

.bar-bg {
  background-color: rgba(28, 27, 31, 0.8);
  min-height: 2.727rem; }

.bar-ws {
  min-height: 1.705rem;
  min-width: 1.705rem;
  font-size: 1.091rem; }

.bar-ws-occupied {
  background-color: #464459;
  color: #e3dff8; }

.bar-ws-active {
  background-color: #c6c0ff;
  color: #260f98; }

.bar-ws-left {
  border-top-left-radius: 999px;
  border-bottom-left-radius: 999px; }

.bar-ws-right {
  border-top-right-radius: 999px;
  border-bottom-right-radius: 999px; }

.bar-ws-alone {
  border-radius: 999px; }

.bar-batt {
  border-radius: 999px;
  padding: 0.205rem 0.341rem;
  background-color: #c6c0ff;
  color: #260f98; }

.bar-sidemodule {
  min-width: 25.227rem; }
